.flex {
  width: 95%;
  height: 400px;
  border: 5px solid black;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* align-items: self-start; */
}

.flex div {
  background-color: rgb(45, 195, 241);
  margin: 5px;
  flex: 1;
}

.satu { order: 4;}
.dua {order:3;}
.tiga {order:2;}
.empat {order:1;}